.scroll-container {
   height: 100vh;
   padding-top: 2em;
  overflow: hidden;
  top: 20px;
  left: 30px;
  position: absolute;
}

.card {
  width: 30vw;
  margin-left: 4em;
  margin-top: 4em;
  height: 600px;
 }

select {
  box-sizing: border-box;
   /*line-height: 3em;*/
   height: 60px;
   background-color: white;
   border: 0 !important;
    -webkit-appearance: none;
   -moz-appearance: none;
}


  #form-card {
     border-top: 30px solid #F27760;
  }

.scroll-container:hover, .scroll-container:focus {
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

  h2 {
       font-size: calc(1em + 2vh);
      font-family: Futura, sans-serif;
      /*padding-top: 10%;*/
       -webkit-font-smoothing: antialiased;
       font-weight: bold;
       line-height: 1.3em;
      text-align: left;
}

 h3 {
   font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
   font-weight:  normal;

   font-size: calc(.5em + 1vh);
   padding-top: 5%;
   -webkit-font-smoothing: antialiased;
    line-height: 1.6em;
  text-align: left;

}

#pa {
  font-size: 1.5em;
 font-family: Futura, sans-serif;
 /*padding-top: 10%;*/
  -webkit-font-smoothing: antialiased;
  /*font-weight: bold;*/
  /*line-height: 1.3em;*/
  margin-left: 7px;
 text-align: left;
}



#modal {
  font-family: Futura, sans-serif;
  text-align: center;
  vertical-align: middle;
   font-weight: bold;
  padding: 3%;
  font-size: 1.1em;
}

.grid .item {




   /*background-color: white;
  color: pink;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
   text-align: center;*/
 }
