html,
body {
  margin: 0;
  padding: 0px;
}

header {
  width: 100vw;
  height: calc(1.7em + 6vh);
  background-color:#00447B;
  position: absolute;
  z-index: 99;
}

.header img {
  display: inline-block;
  position: absolute;
  width: calc(3em + 10vh);
  margin-left: 90px;
  margin-top: 5px;

}



label {
  display: block;
}
select {
	padding: 2%;
	width: 96%;
}

#map-canvas {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.header h4 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1.1em;
  font-weight: lighter;
  color: white;
   padding-left: 70vw;
   padding-top: 3vh;
  left: 200px;
  -webkit-font-smoothing: antialiased;

}
